.top{
   
    color: red;
    font-style: normal;
}
.mid{
    background-color: rgb(210, 45, 128);

}

.inst{
    background-color: greenyellow;
}
.menu2{
    color: red;
}
.inst2{
    background-color: skyblue;
}
.footer{
    background-color: skyblue ;
    opacity: 0.5;
    
}
.top{
   
    color: red;
    font-style: normal;
}
.mid{
    background-color: rgb(210, 45, 128);

}

.inst{
    background-color: greenyellow;
}
.menu2{
    color: red;
}
.inst2{
    background-color: skyblue;
}
.footer{
    background-color: skyblue ;
    opacity: 0.5;
    
}